:root {
  --color-primary: #4d6d63; /* Verde fuerte → títulos, botones */
  --color-secondary: #a6c1b9; /* Verde medio → fondos de secciones en focus */
  --color-tertiary: #d6e2de; /* Fondo claro → base de fieldsets */

  --color-dark-green: #2b3d37; /* Verde osucuro */

  --bg-main: #1f2023; /* Fondo general */
  --color-text: #e8eaed; /* Texto titulo, legend y botones */
  --color-text-button:#8da89c;
  --color-inputs: #ffffff;
  
  --color-text-placeholder:#bbcdcc;
  --color-text-select:#abb7b1;

  --font-family-primary: 'Poppins', sans-serif;
  --font-family-secondary:'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-secondary);
}

body {
  min-height: 100vh; /* altura minima de la pantalla*/
  background-color: var(--bg-main); /*fondo oscuro */
}

.main-content {
  max-width: 700px; /* limita el ancho*/
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.title-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  margin: 1.5rem 0;
}

.title-wrapper h1 {
  font-size: 2.5rem;
  color: var(--color-text);
  font-family: var(--font-family-primary);
  font-weight: 800;
  margin: 0;
}

.title-icon {
  font-size: 2.5rem;
  margin: 0;
}

/* Pseudo- elemento -> crea la linea superior */
.title-wrapper::before {
  content: "";
  position: absolute;
  top: -1rem; /* mueve la linea hacia arriba */
  left: 0; /* mismo lugar que el borde h1 */
  width: 100%;
  height: 1rem;
  background-color: var(--color-primary); /* Color de la línea */
  clip-path: polygon(
    15px 100%, 
    0 0,
    100% 0, 
    calc(100% - 15px) 100% 
  );
}

/* Pseudo- elemento -> crea la linea inferior */
.title-wrapper::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 1rem;
  background-color: var(--color-primary);
  clip-path: polygon(0 100%, 15px 0, calc(100% - 15px) 0, 100% 100%);
}

.form-container {
  width: 100%;
  max-width: 100%;
  margin-top: 2rem;
}

fieldset {
  background-color: var(--color-tertiary); /*fondo claro base*/
  border: 2px solid var( --color-primary);
  font-size: 1rem;
  padding: 1rem;
  border-radius: 2px;
  width: 100%;
  position: relative;
}

fieldset:focus-within {
  background-color: var(--color-secondary);
}

/* Legend POSICIONADO sobre el borde izquierdo */
legend {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 1rem;
  transform: translateY(
    -50%
  ); /* Sube el legend para que quede encima del borde */
  background-color: var(--color-primary); /* igual al fondo del body */
  color: var(--color-text);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border-radius: 6px;
}

fieldset:focus-within legend {
  background-color: var(--color-dark-green);
  border-color: var(--color-dark-green);
}

.legend-icon {
  font-size: 1.2rem;
  padding: 0.5rem;
  display: inline-block;
}

.fields-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 auto; /* Centra el wrapper dentro del fieldset */
  width: 100%;
  padding: 0.5rem 4rem;
}

.fields-wrapper p {
  width: 100%;
  margin: 0;

}


input,
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border: 1px solid var(--color-secondary);
  border-radius: 3px;
  box-sizing: border-box;
  caret-color: var(--color-inputs);
  color: var(--color-text-select);
  font-size: 1rem;
  
}

label , textarea {
  display: block;
  text-align: center;
  margin-top: 0.5rem;
}

input {
  direction: rtl;
  text-align: right;
}

textarea {
  resize: vertical;
  text-align: right;
}


input:focus,
textarea:focus {
  background-color: var(--color-primary);
  outline: none;
  border: 2px solid var(--bg-main);
  border-radius: 3px;
  color: var(--color-inputs);
}


select:invalid {
  color: var( --color-text-select);
}

input::placeholder {
  text-align: right;
  color: var(--color-text-placeholder);
  font-size: 1rem;
}

/* Radio */
.radio-group label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.radio-group {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap; /* Permite bajar a otra línea si no entra */
  width: 100%; /* Ocupa todo el ancho disponible */
}

.activity-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

#activities-intro {
  margin-top: 1rem;
  font-size: 0.90rem;
}

.section-activities {
  margin-bottom: 1rem;
}

.section-terms {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#required-field {
  margin-top: 1rem;
}

.section-terms label {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  gap: 0.5rem;
  color: var(--color-text);
}

.small-label {
  font-size: 0.80rem;
  color: var(--color-text);
}

.section-terms p {
  color: var(--color-text);
  font-weight: 600;
  font-size: 12px;
}

/* Estilo boton*/
button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-dark-green);
  border: 1px solid var(--color-primary);
  color: var(--color-text-button);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-size: 1rem;
}

button:hover {
  background-color: var(--color-tertiary);
  cursor: pointer;
}

.button-style {
  align-self: flex-start;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.separator-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin: 1.3rem 0 2.2rem 0;
}

.separator-dots span {
  width: 14px;
  height: 14px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  display: inline-block;
}
